<body>
  <div class="titleSection">
    <h1>{{titleWord}}</h1>
  </div>
  <hr/>
  
  <div class="filterSection">
    <h3>Filters</h3>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(1) ===-1}" class="btn btn-3 btn-3-news"
      (click)="toggleType(1)"> <i class="fa fa-bookmark"></i>Articles</button>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(2) ===-1}" class="btn btn-3 btn-3-video"
      (click)="toggleType(2)"> <i class="fa fa-youtube"></i>Videos</button>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(3) ===-1}" class="btn btn-3 btn-3-twitter"
      (click)="toggleType(3)"> <i class="fa fa-twitter"></i>Tweets</button>
    <div class="btn btn-3 searchBox">
      <i class="fa fa-search"></i><input [formControl]="filterLetters">
    </div>
  </div>

  <section id="cd-timeline" class="cd-container" *ngFor="let art of articles; let i=index">
    <app-timeline-event [article]="art" [index]="i"></app-timeline-event>
  </section> <!-- cd-timeline -->

  <button (click)="getNextPage()" class="showMoreButton">Show More</button>
</body>

