<h2 class="test">Words</h2>



<blockquote class="twitter-tweet"><p lang="en" dir="ltr">A year after the Parkland Shooting, Congress still hasn’t passed strong legislation to address gun violence. But I’m going to keep fighting – along with the MSD survivors and students across the country who are working to <a href="https://twitter.com/hashtag/EndGunViolence?src=hash&amp;ref_src=twsrc%5Etfw">#EndGunViolence</a>. <br><br>Together, we will make change. <a href="https://t.co/cc0c7k2u1Z">pic.twitter.com/cc0c7k2u1Z</a></p>&mdash; Elizabeth Warren (@SenWarren) <a href="https://twitter.com/SenWarren/status/1096050385314373634?ref_src=twsrc%5Etfw">February 14, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>



<label>Sort Words Down</label>
<input [formControl]="wordTyping">
<!-- <input [(ngModel)]="newPhrase"> -->
<!-- <button (click) = "CreateWord()">Create New Word</button> -->
<div class="d-flex p-2">
  <div class="p-2" *ngFor="let word of wordList">
    <button (click)="SetShowTrue(word)" class="btn btn-success">{{word.word}}--{{word.yearly}}</button>

    <div *ngIf="word.show">
      
      <button [routerLink]="'/time/' + word.word" class="btn btn-light">Link</button>
      <select [(ngModel)]="word.type" name="Word Type">
        <option value=0>None</option>
        <option value=1>Person</option>
        <option value=2>Place</option>
        <option value=3>Thing</option>
      </select>
      <button (click)="UpdateWord(word)" class="btn btn-warning">Add To Main</button>

      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <button (click)="fileInput.click()">Select Image</button>
      <button (click)="onUpload('Word', word.wordId)">Upload!</button>

    </div>

  </div>
</div>