<form [formGroup]="form" class="form-group border">
  <label>User Name</label>
  <input class="form-control" formControlName="twitterUsername">
  <Button class="btn-primary" (click)='CreateTwitterUser(form.value)'>Create</Button>
</form>

<div *ngFor="let tweeter of foundTwitterUsers">
  <p>
    {{tweeter.twitterUsername}}
    <img height=100 width=100 src={{tweeter.image}}>
  </p>
  <button class="btn-danger" (click)="DeleteTwitterUser(tweeter.twitterUserId)">Delete</button>
  <button class="btn-warning" (click)="UpdateTwitterUser(tweeter)">Update</button>
  <button class="btn-warning" (click)="GetTweetsForUser(tweeter)">Get Tweets</button>

</div>

<p *ngFor="let tweet of foundTweets">{{tweet.tweetText}}</p>