/FactVluxV3.user
/FactFluxV3.sln
/FactFluxV3.csproj.user
/FactFluxV3.csproj
/appsettings.json
/appsettings.Development.json
/Properties/PublishProfiles
/Properties/launchSettings.json
/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Release/netcoreapp2.1/FactFluxV3.Views.pdb
/obj/Release/netcoreapp2.1/FactFluxV3.Views.dll
/obj/Release/netcoreapp2.1/FactFluxV3.TagHelpers.output.cache
/obj/Release/netcoreapp2.1/FactFluxV3.TagHelpers.input.cache
/obj/Release/netcoreapp2.1/FactFluxV3.RazorTargetAssemblyInfo.cs
/obj/Release/netcoreapp2.1/FactFluxV3.RazorTargetAssemblyInfo.cache
/obj/Release/netcoreapp2.1/FactFluxV3.RazorCoreGenerate.cache
/obj/Release/netcoreapp2.1/FactFluxV3.RazorAssemblyInfo.cs
/obj/Release/netcoreapp2.1/FactFluxV3.RazorAssemblyInfo.cache
/obj/Release/netcoreapp2.1/FactFluxV3.pdb
/obj/Release/netcoreapp2.1/FactFluxV3.dll
/obj/Release/netcoreapp2.1/FactFluxV3.csprojAssemblyReference.cache
/obj/Release/netcoreapp2.1/FactFluxV3.csproj.FileListAbsolute.txt
/obj/Release/netcoreapp2.1/FactFluxV3.csproj.CoreCompileInputs.cache
/obj/Release/netcoreapp2.1/FactFluxV3.csproj.CopyComplete
/obj/Release/netcoreapp2.1/FactFluxV3.assets.cache
/obj/Release/netcoreapp2.1/FactFluxV3.AssemblyInfoInputs.cache
/obj/Release/netcoreapp2.1/FactFluxV3.AssemblyInfo.cs
/obj/project.assets.json
/obj/my-new-app.csproj.nuget.g.targets
/obj/my-new-app.csproj.nuget.g.props
/obj/my-new-app.csproj.nuget.cache
/obj/FactFluxV3.csproj.nuget.g.targets
/obj/FactFluxV3.csproj.nuget.g.props
/obj/FactFluxV3.csproj.nuget.cache
/obj/FactFluxV3.csproj.EntityFrameworkCore.targets
/obj/Release/netcoreapp2.1
/wwwroot/lib
/obj/Debug/netcoreapp2.1
/wwwroot
/.vs
/bin
/ClientApp/node_modules
/ClientApp/src/.vscode
/.vscode