<div>
  <p>
    We are committed 100% to protecting your privacy. We collect statistics on how people view our pages. We do that so
    we
    can analyze who uses the site in an attempt to make it better over time.
  </p>
  <p>
    We have security measure in place to ensure the protection of your personal data against any unauthorized attack or
    misuse of our website. We make sure to use both SSL encryption and a firewall to keep your information safe. We do
    track your Internet Protocol (IP) address to help us gather demographic information.
  </p>
  <p>
    If you have any questions or comments about this privacy policy feel free to contact us.
  </p>
</div>