<div *ngIf="article.articleType===1" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + article.timelineImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <h2>{{article.articleTitle}}</h2>
    <a target="_blank" href="{{article.articleUrl}}" class="cd-read-more">Read more</a>
    <span class="cd-date">{{formatDate(article.datePublished)}}</span>
  </div>
</div>

<div *ngIf="article.articleType===2" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + article.timelineImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <h2>{{article.articleTitle}} <i style="color:red;" class="fa fa-play-circle"></i></h2>
      <div class="youtube" #vid id="{{article.articleUrl}}"></div>
    <span class="cd-date">{{formatDate(article.datePublished)}}</span>
  </div>
</div>

<div *ngIf="article.articleType===3" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + article.timelineImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <div [innerHTML]="article.articleUrl" #tweet></div>
    <span class="cd-date">{{formatDate(article.datePublished)}}</span>
  </div>
</div>

<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>