<div *ngIf="article.articleType===1" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + feedImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <h2>{{article.articleTitle}}</h2>
    <a target="_blank" href="{{article.articleUrl}}" class="cd-read-more">Read more</a>
    <span class="cd-date">{{article.datePublished | date: 'MM/dd/yyyy'}}</span>
  </div>
</div>

<div *ngIf="article.articleType===2" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + feedImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <h2>{{article.articleTitle}}</h2>
      <li class="youtube" #vid id="{{article.articleUrl}}"></li>
    <span class="cd-date">{{article.datePublished | date: 'MM/dd/yyyy'}}</span>
  </div>
</div>

<div *ngIf="article.articleType===3" class="cd-timeline-block" [ngClass]="{'even': index % 2 != 0}">
  <div class="cd-timeline-img cd-picture" [ngStyle]="{'background-image': 'url(' + feedImage + ')'}">
  </div>
  <div class="cd-timeline-content">
    <div [innerHTML]="article.articleUrl" #tweet></div>
    <span class="cd-date">{{article.datePublished | date: 'MM/dd/yyyy'}}</span>
  </div>
</div>