<app-post-header></app-post-header>

<body>

    <section id="cd-timeline" class="cd-container">

      <app-post-event [left]="true" [text]="'graduated from Woodberry Forest School, Woodberry Forest, Va.; B.A., Columbia University, New York, N.Y., 1995'" 
      [date]="'September 26 1995'"></app-post-event>
      <app-post-event [left]="true" [text]="'Rourke was born into a local political family in El Paso, Texas'" 
      [date]="'September 26 1972'"></app-post-event>
    </section> 

  </body>