
  <div class="card">
    <!-- Header -->
    <div class="card-header">
      <!-- <div class="card-header__avatar"></div><a class="card-header__follow" href="#">Follow</a> -->
<p class="factText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
    </div>
    <!-- Content-->
    <div class="card-content">
      <div class="card-content__username">CodePen</div>
      <div class="card-content__bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
    </div>
    <!-- Footer-->
    <div class="card-footer">
      <div class="card-footer__pens"> 
        <i class="fa fa-twitter"></i>
      </div>
      <!-- <div class="card-footer__followers"> <span>0</span>
        <div class="label">Followers</div>
      </div>
      <div class="card-footer__following"> <span>0</span>
        <div class="label">Following</div>
      </div> -->
    </div>
  </div>
