<app-timeline-header></app-timeline-header>

<section id="cd-timeline" class="cd-container">

  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <i class="fa fa-exclamation"></i>
    </div>
    <div class="cd-timeline-content">
      <h2>University of Chicago ends racial segregation <i class="fa fa-twitter tweetFact"></i></h2>
      <a target="_blank" href="https://www.nytimes.com/2007/01/21/magazine/21Sanders.t.html" class="cd-read-more">View
        Source</a>
      <span class="cd-date">1963</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <i class="fa fa-exclamation"></i>
    </div>
    <div class="cd-timeline-content">
      <h2>Attended a rally at the University of Chicago Administration building to protest segregation on campus <i
          class="fa fa-twitter tweetFact"></i></h2>
      <a target="_blank" href="https://www.nytimes.com/2007/01/21/magazine/21Sanders.t.html" class="cd-read-more">View
        Source</a>
      <span class="cd-date">1962</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <i class="fa fa-star-of-david"></i>
    </div>
    <div class="cd-timeline-content">
      <h2>Celebrated his bar mitzah <i class="fa fa-twitter tweetFact"></i></h2>
      <a target="_blank" href="https://www.nytimes.com/2007/01/21/magazine/21Sanders.t.html" class="cd-read-more">View
        Source</a>
      <span class="cd-date">1954</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <i class="fa fa-exclamation-triangle"></i>
    </div>
    <div class="cd-timeline-content">
      <h2>Many of Berny Sanders relatives are killed in the Holocaust <i class="fa fa-twitter tweetFact"></i></h2>
      <a target="_blank" href="https://www.nytimes.com/2007/01/21/magazine/21Sanders.t.html" class="cd-read-more">View
        Source</a>
      <span class="cd-date">1941 - 1945</span>
    </div>
  </div>

  <div class="cd-timeline-block">
    <div class="cd-timeline-img">
      <i class="fa fa-baby-carriage"></i>
    </div>
    <div class="cd-timeline-content">
      <h2>Bernard Sanders is born</h2>
      <!-- <a target="_blank" href="www.test.com" class="cd-read-more">Read more</a> -->
      <span class="cd-date">1941</span>
      <img src='https://upload.wikimedia.org/wikipedia/commons/6/6c/Bernie_Sanders_1959_High_School_Yearbook.jpg'>
    </div>
  </div>

</section>