
.sidebar-content {
  height: auto;
  min-height: 400px;
  background: #FFF;
  padding: 5px;
  position: fixed !important;
  width: 10%;
  margin-top: 20px;
  /* z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0; */
}

.fa-twitter {
  color: #38A1F3;
  width:80%;
}

.fa-facebook {
  color: #4267b2;
  margin-left: -11px;
  width:80%;
}

.shareSection {
  text-align: center;
  font-size: 30px;
}

.shareNumber {
  width: 70%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 1px 1px 1px;
  margin-right: auto;
  margin-left: auto;
}

.blackShadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@media only screen and (max-width: 600px) {
  .sidebar-content {

    position: relative;

  }
}
