.sidebar-content {
  height: auto;
  min-height: 600px;
  background: #FFF;
  padding: 5px;
}

.fa-twitter {
  color: #38A1F3;
}

.fa-facebook {
  color: #4267b2;
  margin-left: -11px;
}

.shareSection {
  text-align: center;
  font-size: 30px;
}

.shareNumber {
  width: 70%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 1px 1px 1px;
  margin-right: auto;
  margin-left: auto;
}

.blackShadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}