<div class='col-sm-7 body-content'>

  <ul>
    <li *ngFor="let feed of foundFeeds">
      <h3>{{feed.feedTitle}}</h3>
      <img height=100 width=100 src={{feed.feedImage}}>
      <button class="btn-danger" onclick="return confirm('Are you sure?')"
        (click)="DeleteFeed(feed.feedId)">Delete</button>
      <button class="btn-warning" (click)="FillEdit(feed)">Edit</button>
      <button class="btn-success" (click)="GetArticles(feed.feedId)">Get Articles</button>
    </li>
  </ul>
</div>

<p *ngFor="let article of foundArticles">{{article.articleTitle}}</p>

<div class='col-sm-5'>
  <form *ngIf="showEdit" [formGroup]="form" class="form-group border">
    <label>Feed Title</label>
    <input class="form-control" formControlName="feedTitle">
    <label>Feed Link</label>
    <input class="form-control" formControlName="feedLink">
    <label>Feed Image</label>
    <input class="form-control" formControlName="feedImage">
    <label>Video Link</label>
    <input class="form-control" formControlName="videoLink">
    <Button class="btn-primary" (click)='UpdateFeed(form.value)'>Update</Button>
    <Button class="btn-warning" (click)='HideEdit()'>Hide</Button>
  </form>

  <form #feedForm="ngForm" class="form-group border">
    <div class="form-group">
      <label>Feed Title</label>
      <input class="form-control" name="feedTitle" ngModel>
    </div>
    <div class="form-group">
      <label>Feed Link</label>
      <input class="form-control" name="feedLink" ngModel>
    </div>
    <Button class="btn-primary" (click)='CreateFeed(feedForm.value)'> Create New Feed</Button>
  </form>
</div>