<!-- <button (click)="ToggleType(1)" class="btn btn-warning">People</button>
<button (click)="ToggleType(2)" class="btn btn-success">Places</button>
<button (click)="ToggleType(3)" class="btn btn-primary">Things</button>
<br> -->

<div class="timeLineDescription">

    <p>News timelines for today</p>
    <p>A tool for putting the news cycle in context</p>
</div>

<div class="flexBox" *ngFor="let word of mainStories">
 
    <div [routerLink]="'/time/' + word.word" class="blog-card spring-fever" [ngStyle]="{'background': !word.images[0] ?'url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg)': 'url('+ word.images[0].imageLocation+') no-repeat center'}">
        <div class="darken">
            <div class="title-content">
                <h3>{{word.word}}</h3>
                <hr />
                <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div>
            </div><!-- /.title-content -->
            <div class="card-info">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim.
            </div><!-- /.card-info -->
            <div class="utility-info">
                <ul class="utility-list">
                    <li class="comments">12</li>
                    <li class="date">03.12.2015</li>
                </ul>
            </div><!-- /.utility-info -->
        </div><!-- /.blog-card -->
    </div>
</div>
<br>
<button class="showMoreButton">Show More</button>