<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]='["/"]'>FactFlux</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="pull-left"><a [routerLink]='["/"]'>Home</a></li>
          <li class="active"><a [routerLink]='["/stories"]'>Stories</a></li>
          <li><a [routerLink]='["/words"]'>Words</a></li>
          <li class="social pull-right"><a [routerLink]='["/rss-feeds"]'>RssFeeds</a></li>
          <li class="social pull-right"><a [routerLink]='["/word-parents"]'>ParentWords</a></li>
          <li class="social pull-right"><a href="/hangfire">Hangfire</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>