<body>
    <div class="header">
        <a class="site-name w--current" href="/">Fact Flux</a>
        <!-- <p class="site-description">One persons projects and opinions</p> -->
        <div class="social-link-group">
            <a class="social-icon-link w-inline-block" href="{{tweetUrl}}"><i class="fa fa-twitter"></i></a>
            <a class="social-icon-link w-inline-block" href="{{fbUrl}}"><i class="fa fa-facebook"></i></a>
        </div>

        <button class="headerButton"><a href="/blog">Blog</a></button>
    </div>
    <router-outlet></router-outlet>
</body>