.body-content {
  background-color: #e9f0f5;
  min-height: 600px;
  /* min-width: 418px; */
}

html, body {width: auto!important; overflow-x: hidden!important} 


.blackShadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.row {
  width: 100%;
}
