<body>
  <div class="titleSection">
    <h1>{{titleWord}}</h1>
  </div>
  <hr />

  <div class="filterSection">
    <h3>Filters</h3>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(1) ===-1}" class="btn btn-3 btn-3-news"
      (click)="toggleType(1)"> <i class="fa fa-bookmark"></i>Articles</button>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(2) ===-1}" class="btn btn-3 btn-3-video"
      (click)="toggleType(2)"> <i class="fa fa-youtube"></i>Videos</button>
    <button [ngClass]="{'deactivated': articleTypes.indexOf(3) ===-1}" class="btn btn-3 btn-3-twitter"
      (click)="toggleType(3)"> <i class="fa fa-twitter"></i>Tweets</button>
    <div class="btn btn-3 searchBox">
      <i class="fa fa-search"></i><input [formControl]="filterLetters">
    </div>


    <div class="spectrumFilter">
      <h3>Political Spectrum</h3>
      <input type="checkbox" class="spectrumFilter1" [checked]="politicalSpectrum.indexOf(1) !== -1"
        (click)="toggleSpectrum(1)">
      <input type="checkbox" class="spectrumFilter2" [checked]="politicalSpectrum.indexOf(2) !== -1"
        (click)="toggleSpectrum(2)">
      <input type="checkbox" class="spectrumFilter3" [checked]="politicalSpectrum.indexOf(3) !== -1"
        (click)="toggleSpectrum(3)">
      <input type="checkbox" class="spectrumFilter4" [checked]="politicalSpectrum.indexOf(4) !== -1"
        (click)="toggleSpectrum(4)">
      <input type="checkbox" class="spectrumFilter5" [checked]="politicalSpectrum.indexOf(5) !== -1"
        (click)="toggleSpectrum(5)">
      <input type="checkbox" class="spectrumFilter6" [checked]="politicalSpectrum.indexOf(6) !== -1"
        (click)="toggleSpectrum(6)">
      <input type="checkbox" class="spectrumFilter7" [checked]="politicalSpectrum.indexOf(7) !== -1"
        (click)="toggleSpectrum(7)">
      <input type="checkbox" class="spectrumFilter8" [checked]="politicalSpectrum.indexOf(8) !== -1"
        (click)="toggleSpectrum(8)">
      <input type="checkbox" class="spectrumFilter9" [checked]="politicalSpectrum.indexOf(9) !== -1"
        (click)="toggleSpectrum(9)">
    </div>
  </div>


  <app-spinner *ngIf="showSpinner"></app-spinner>

  <section id="cd-timeline" class="cd-container" *ngFor="let art of articles; let i=index">
    <app-timeline-event [article]="art" [index]="i"></app-timeline-event>
  </section> <!-- cd-timeline -->

  <button (click)="getNextPage()" class="showMoreButton">Show More</button>
</body>