@import url(https://fonts.googleapis.com/css?family=Cabin|Lobster);
html {
    height: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

.font--cabin {
    font-family: 'Eczar', Georgia, serif;
    font-weight: 400;
  }
  
